body{
    background-image: url("images/background-dark.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Titillium Web', sans-serif;
}

.bottom-div{
    margin-top: 20%;
    margin-left: 40%;
}

.button{
    font-size: 25px;
    height: 50px;
    width: 150px;
    background-color: rgb(125, 245, 175);
    cursor: pointer;
    outline:none;
    border: 10px;
    margin:10px;
}

.button:hover{
    background-color: rgb(71, 241, 142);
}

.button-container{
    text-align: center;
    position: relative;
}

.button-reset{
    width: 325px;
}

.button-reset-container{
    text-align: center;
}

#counter{
    display: block;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255)
}

.top-area{
    margin:50px;
}

#pokemon-image{
    width: auto;
    height: 200px;
}

.pokemon-image-container{
    text-align: center;
}

.search-container{
    margin-top:5%;
    margin-left:5%;
}

.search-suggestion {
    background-color: rgba(255, 140, 148, .5);
    margin: 0px;
    padding: 10px;
    width: 100%;
    height: 35px;
    cursor: pointer;
    z-index: 1;
}

.search-suggestion:focus {
    background-color:rgba(255, 140, 148, .8);
    outline: none;
}


.search-suggestion:hover{
    background-color:rgba(255, 140, 148, .8);
}

.search-suggestion-container{
    margin-left:5%;
    position: absolute;
    z-index: 1;
}

.search-bar{
    font-size: 20px;
    width: 90%;
    height: 35px;
    outline: none;
}


.search-bar::placeholder{
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

.main-container{
    position: relative;
    margin-top: 150px;
}

.hidden {
    display: none;
}
